html, body {
    height: 100%;
    max-height: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: #edeef0;
    /*display: flex;*/
}

.section-top{
margin: 20px;
}

.section-top{
    margin-top: 0;
}

.wrapper{
    min-height: 100%;
}

.wrapper-content{
    overflow: auto;
    padding-bottom: 180px;
}

.footer{
    position: relative;
    margin-top: -180px;
    height: 200px;
    clear: both;
    background-color: #E3E3E3;
}

.product-item{
    height: 360px;
    background-color: white;
    border: 1px solid lightgrey;
    position: relative;
    padding: 10px 0 10px 0;
    text-align: center;
    /*margin-bottom: 10px;*/
}

.add-to-card-btn{
    position:absolute;
    bottom: 5px;
    left:40px;
}

.ots{
    margin-top: 65px;
    margin-bottom: 35px;
}

.discount-container {
    position: absolute;
    top: 30%;
    background: #55e073;
    width: 30%;
    color: white;
    font-weight: 700;
    /*padding: 3px;*/
}

.section-delivery{
    height: 300px;
    background-color: darkseagreen;
    text-align: center;
    color: white;
    display: flex;
}

.tb{
    float:left;
    text-align:center;
    width:23.333%;
}

.product-description-tabs{
    padding: 10px;
}

.product-image-item{
    padding: 5px;
    margin-bottom: 5px;
}

.navbar-top{
    min-height: 10px;
    height: 20px;
    background-color: green;
    border: none;
    border-radius: 0;
}

.navbar-main{
    background-color: #55e073;
    border: none;
    border-radius: 0;
}

.basket-container{
    position: relative;
    /*padding-right: 176px;*/
    width: 430px;
    padding: 15px 10px;
}

.basket-items{
    position: absolute;
    top: 62px;
    width: 100%;
    background-color: #55e093;
    z-index: 10;
}

.form-error{
    color:red
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.slider{
    width: 500px;
    height: 300px;
    margin: 100px;
    position: relative;
    top: 0;
    left: 250px;
    right: 0;
}
.img{
    text-align: center;
    line-height: 300px;
    position: absolute;
    font-size: 50px;
    color: #fff;
    display: none;
}
.img.curry{
    display: block;
}
.img:first-child{
    width: 500px;
    /*background: red;*/
}
.img:nth-child(2){
    width: 500px;
    /*background: green;*/
}
.img:nth-child(3){
    width: 500px;
    /*background: blue;*/
}
.img:nth-child(4){
    width: 500px;
    /*background: yellow;*/
}
.img:nth-child(5){
    width: 500px;
    /*background: gold;*/
}
.n{
    color:#575757;
}
/*a{*/
/*    text-decoration: none;*/
/*    color: #FD7EAD;*/
/*    font-size: 20px;*/
/*}*/
/*a:hover{*/
/*    color: #0AB6DD;*/
/*}*/
.prev{
    position: relative;
    top: 240px;
    left: 336px;
}
.next{
    position: relative;
    top: 240px;
    left: 164px;
}
.ots_slider{
    margin:0 0 0 0;
    /*height: 400px;*/
    /*!*position: absolute;*!*/
    display: flex;
}